<div class="card bg-light">
  <div class="card-header" >
    <h1 [ngStyle]="titleStyle">{{title}}</h1>
  </div>

  <form class="form-inline" #inputForm="ngForm">
    <div class="form-group mx-sm mb-2">
      <input 
        class="form-control"
        type="text" 
        minlength="1" 
        required
        placeholder="... type your task here ..."
        [(ngModel)]="inputItem" 
        name="to_do_list_input_form"
      >
    </div>  

    <button  
      type="submit" 
      class="btn btn-primary mb-2" 
      [disabled]="!inputForm.form.valid" (click)="addItem(inputItem)">
      Add task
    </button>
  </form>

  <ul class="card-body">
    <div class="form-inline" *ngFor="let item of itemsArray; let index = index">
      <li class="list-group-item">
        <p class="card-text" [crossedOut]>{{item}} </p>
        <button
            type="submit"
            class="btn btn-outline-danger"
            (click)="deleteItem(index)">
            X
        </button>
      </li>
    </div>
  </ul>
  <button
   type="submit" 
   class="btn btn-primary mb-2 btn-lg"
   (click)="deleteAllItems()">
   Clear the list
   </button>

</div>