<div class="app">
  <h1>{{title}}</h1>

  <form #inputForm="ngForm">
    <input type="text" minlength="1" required
    [(ngModel)]="inputItem" name="to_do_list_input_form">
    <input type="button" value="add" 
    [disabled]="!inputForm.form.valid" (click)="addItem(inputItem)">
  </form>

  <ul>
    <div class="itemRow" *ngFor="let item of itemsArray; let index = index">
      <input type="button" value="X" (click)="deleteItem(index)">
      <li [crossedOut]>{{item}}</li>
    </div>
  </ul>
  <input type="button" value="Clear the List" (click)="deleteAllItems()">
</div>